<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://e1.pxfuel.com/desktop-wallpaper/478/472/desktop-wallpaper-iron-man-3-16-9-iron-man-3-poster.jpg
        " height="200px">
    </div>
    <a href=""></a>
    <div class="big-card__title">
        <a href="">
            <h1>Saiu a nova versao do Angular</h1>
        </a>


    </div>

    <div class="big-card__description">
        <a href="#">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe, repellendus.</p>
        </a>

    </div>

</div>
